<div class="loop-container container py-5">
  <h1 class="mb-5">Projects</h1>
  <div class="d-flex flex-row flex-wrap justify-content-around align-items-center mb-5">
    <% @projects.each do |project| %>
      <%= link_to(project, class: "card-container text-decoration-none text-black mb-2")  do %>
        <div class="card">
          <div class="card-body text-center">
            <h4 class="card-title text-decoration-none text-black mb-2"><%= project.title %></h4>
            <p class="mb-0"><%= created_by(project.user_id) %></p>
            <p class="mb-0"><%= created_at(project) %></p>
            <p class="mb-0"><%= updated_at(project) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "New Project", new_project_path, class: "btn btn-success" %>
</div>