<div class="container py-5">
  <h1 class="mb-4"><%= @project.title %></h1>
  <h6 class="mb-2"><%= created_by(@project.user_id) %></h6>
  <p class="mb-5"><%= created_at(@project) %></p>
  <hr>
  <br>
  <div class="mb-5"><%= @project.description %></div>
  <div class="mb-3">
  <%= link_to 'Edit', edit_project_path, class: "btn btn-primary" %>
  <%= link_to "Delete", @project, class: "btn btn-danger", method: :delete, data:
    { confirm: "Are you sure?" } %>
  </div>
  <%= link_to 'Back to projects', projects_path %>
</div>