<%= form_with(model: @post, class: "w-100 w-lg-50") do |form| %>
  <div class="mb-3">
    <%= form.text_field :title, placeholder: "Title", class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.rich_text_area :description, placeholder: "Description", class: "form-control" %>
  </div>
  <div class="mb-3">
    <h3>Languages</h3>
    <%= form.collection_check_boxes(:language_ids, Language.all, :id, :title) do |language| %>
      <div class="row mb-2">
        <%= language.label(class: "check_box d-flex flex-row justify-content-start align-items-center") do %>
          <div>
            <%= language.check_box(class: "check_box me-2") %>
          </div>

          <div>
            <%= language.object.title %>
          </div>       
        <% end %>
      </div>
    <% end %>
  </div>
  <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>